<div class="row">
    <div class="col-sm-5 icon flex-center">{% include 'image/person.svg' %}</div>
    <div class="col-sm-7">
        <h2 class="h2">About Me</h2>
        <p>Energetic, Enthusiastic and self-motivated motivated web developer with 1+ year of experience
            developing and maintaining functional, responsive websites. Clear understanding of modern
            technologies and best
            practices. Experienced with python, django, rest framework and react.</p>
    </div>
</div>