<div class="row">
    <div class="col-sm-5 icon flex-center">{% include 'image/education-10.svg' %}</div>
    <div class="col-sm-7">
        <h2 class="h2">Education</h2>
        <div class="row">
            <div class="col-sm-5"><p>2020 - Current</p></div>
            <div class="col-sm-7"><p>Bachelor of Science</p>
                <p>Begum Rokeya University, rangpur</p>
                <p>Computer Science and Engineering</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-5"><p>2017 - 2020</p></div>
            <div class="col-sm-7">
                <p>Higher Secondary Certificate</p>
                <p>Rajshahi Govt. City College</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-5"><p>2014 - 2017</p></div>
            <div class="col-sm-7">
                <p>Secondary School Certificate</p>
                <p>Changpur B.L. High School</p>
            </div>
        </div>
    </div>
</div>