@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a1306;
    color: white;
}

.gradient-button {
    @apply bg-gradient-to-l from-green-800 to-green-300 text-white font-bold;
}

.gradient-text {
    @apply bg-gradient-to-r from-green-600 to-green-100;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

* {
    scrollbar-color: green #1d3511;
}